:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --serif: 'Halant', serif;
  --sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

.card-list {
  list-style: none;
  padding-left: 0px;
  display: inline-block;
  width: 100%;
}

.card-list li {
  padding: 10px;
  width: 100%;
  display: flex;
}

.card-list li img {
  width: 120px;
  height: 100px;
  border-radius: 5px;
}

.card {
  border-radius: 4px;
  border: 1px solid #ebebeb;
  transition: box-shadow 0.3s;
  margin: 24px 0;
}

.card:hover {
  box-shadow: 0 0 10px #0000001a;
  cursor: pointer;
}

.restaurant-image {
  margin-right: 20px;
}

.restaurant-details {
  display: flex;
  flex-direction: column;
}

.restaurant-isclosed-true {
  font-family: var(--sans);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgb(224, 7, 7);
  text-align: left;
}

.restaurant-isclosed-false {
  font-family: var(--sans);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgb(2, 161, 109);
  text-align: left;
}

.review-count {
  font-family: var(--sans);
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(110, 112, 114, 1);
  text-align: left;
}

.wrapper {
  display: flex;
  gap: 45px;
}

.wrapper > :first-child {
  flex: 1;
  height: 100vh;
  /* background-color: lightgray; */

  border-right: 1px solid #ebebeb;
}

.wrapper > :last-child {
  flex: 3;
  height: 100vh;
  overflow: scroll;
  padding: 24px 24px 0 0;
}

/* Filters */

.filters {
  display: flex;
  flex-direction: column;
}

.filter-header {
  font-family: var(--sans);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(45, 46, 47, 1);
  text-align: left;
  margin: 24px 0;
  padding-left: 48px;
}

.cuisines {
  padding-left: 48px;
  padding-bottom: 24px;
}

.restaurant-status,
.method {
  padding-left: 48px;
  padding-bottom: 24px;
}

.status-header {
  font-family: var(--sans);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(45, 46, 47, 1);
  text-align: left;
  padding-top: 24px;
  margin-bottom: 24px;
  padding-left: 48px;
  border-top: 1px solid #ebebeb;
}

.transaction {
  display: flex;
}

.transaction-name {
  font-family: var(--sans);
  font-size: 12px;
  font-weight: 600;
  -webkit-letter-spacing: 0px;
  -moz-letter-spacing: 0px;
  -ms-letter-spacing: 0px;
  letter-spacing: 0px;
  line-height: 16px;
  color: rgba(45, 46, 47, 1);
  text-align: left;

  padding-right: 12px;
}

i.fa {
  padding-right: 8px;
  color: green;
}
